/* hierin komt de gedeelde style */
@font-face {
    font-family: 'Gagalin';
    src: url(../fonts/Gagalin-Regular.otf);
}

body {
    margin: 0;
}

h2
{
    text-align: center;
    font-family: 'Gagalin';
}

h3
{
    color:white;
    margin-left:520px;
    font-size: 50px;
    width: 500px;
}

button
{
    background-color: #070058;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 5px;
    margin-right:5px;
    width: 200px;
    cursor:pointer;
}

p
{
    font-size: 15px;
    font-family: 'Gagalin';
}

footer {
    padding: 20px 0px;
    width: 100%;
    background-color: #070058;
    color: white;
    text-align: center;
}

footer a {
    color: white !important;
}

.waas {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFFAA;
    left: 0;
    position: absolute;
    z-index: 90;
}

.modal {
    width: fit-content;
    text-align: center;
    padding: 10px;
    position: absolute;
    right: 20px;
    z-index: 100;
    bottom: 20px;
}