/* hierin komt de gedeelde style */
@font-face {
    font-family: 'Gagalin';
    src: url(../fonts/Gagalin-Regular.otf);
}

body {
    margin: 0;
}

h1, h2
{
    text-align: center;
    font-family: 'Gagalin';
}

h3
{
    color:white;
    margin-left:520px;
    font-size: 50px;
    width: 500px;
}

button, .button
{
    background-color: #070058;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 5px;
    margin-right:5px;
    width: 200px;
    cursor:pointer;
}

p
{
    font-size: 15px;
    font-family: 'Gagalin';
}

footer {
    padding: 20px 0px;
    width: 100%;
    background-color: #070058;
    color: white;
    text-align: center;
}

footer a {
    color: white !important;
}

.modal {
    width: fit-content;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 100;
    bottom: 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px grey;

    left: 50%;
    transform: translate(-50%, -50%);
}

label
{
    font-size: 20px;
}

input
{
    border-radius: 25px;
    padding: 5px;
    font-size: 17px;
    outline: none;
}

input[type="submit"]
{
    font-size: 17px;
    border-radius: 25px;
    border: 2px solid #070058;
    cursor: pointer;
    background-color: #070058;
    color: white;
    font-weight: bold;
    padding: 15px;
}

input[type="submit"]:hover
{
    color: #070058;
    background-color: white;
    border: 2px solid #070058;
}
