@font-face {
    font-family: 'Gagalin';
    src: url(../fonts/Gagalin-Regular.otf);
}

body
{
    background-color: #070058;
}

#wrapper {
    overflow: hidden;
}

#block1 {
    float:left;
    margin-top:0px;
    width:120px;
    height:120px;
}

#inlogDiv
{
    float: right;
    height: 500px;
    width: 450px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px grey;
    margin: 100px;
}

#verifButton:hover
{
    cursor:pointer;
}

input::placeholder
{
    padding-left:10px;
}

input, p
{
    margin-bottom:25px;
    margin-left:50px;
}

input
{
    border: 1px solid #070058;
    width: 80%;
    border-radius: 25px;
    font-size:17px;
    padding:10px;
}

#verifButton
{
    background-color: #070058;
    box-shadow: 5px 5px #3F3FD3;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 30px;
    width: 200px;
}